body {
  text-align: center;
  font-size: 24px;
  background-color: rgb(201, 226, 201);
}
button {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  font-size: large;
}
ul {
  list-style-type: none;
}
.boldText {
  font-weight: bold;
}
